body{
  background-image: url('../img/fon.jpg');
}
.wrapper{
  margin: 0 auto;
  width: 35%;
  height: 500px;
  background: #c0c3ad;

}
.block{
  left: 48%;
  position: absolute;
  color: white;
  background: #095e80;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2.8em;
}
.score{


}

.scoreboard{
  display: block;
  background: white;

  float: right;
  width: 60px;
  height: 40px;
  line-height: 40px;
  font-family: Arial,sans-serif;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}
.buttonWrapper{
  margin: 0 auto;
  width: 35%;
}
/*//////////////////////////////////BUTTON////////////////*/
.buttonStart,
.buttonFinish{
  outline: none;
  display: inline-block;
  font-size: 1.1em;
  width:90px;
  text-decoration:none;
  text-align:center;
  font: bold 14px arial, sans-serif;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 20px auto;
  color: #ccc;
  background-color: #555;
  background-image: linear-gradient(top, #888 0%, #555 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(1, #555));
  background-image: -moz-linear-gradient(top, #888 0%, #555 100%);
  background-image: -o-linear-gradient(top, #888 0%, #555 100%);
  border: none;
  border-radius: 3px;
  text-shadow: 0px -1px 0px #000;
  box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
  -webkit-transition: ease .15s all;
  -moz-transition: ease .15s all;
  -o-transition: ease .15s all;
  transition: ease .15s all;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
a.buttonStart:hover, a.buttonStart:focus,
a.buttonFinish:hover, a.buttonFinish:focus{
  -webkit-animation: linear 1.2s light infinite;
  -moz-animation: linear 1.2s light infinite;
  -o-animation: linear 1.2s light infinite;
  animation: linear 1.2s light infinite;
}

a.buttonStart:active,
a.buttonFinish:active{
  color: #fff;
  text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
  box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}